<a href="https://colab.research.google.com/github/MDAWOODA/Python-coding/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
example = "snow world" 
example[3] = 's' 
print(example)

TypeError: ignored

In [ ]:
x = 2
for i in range(x):
     x += 1
     print (x)

3
4

In [ ]:
a=list((45,)*4)
print((45)*4)
print(a)

180
[45, 45, 45, 45]

In [ ]:
values = [[3, 4, 5, 1], [33, 6, 1, 2]]
v = values[0][0]
for lst in values:
     for element in lst:
          if v > element:
              v = element
print(v)

1

In [ ]:
x = 'abcd'
for i in range(len(x)):
     x[i].upper()
print (x)

abcd

In [ ]:
string = "my name is x"
for i in string.split():
     print (i, end=", ")

my, name, is, x,

In [ ]:
x = 'abcd'
for i in x:
     print(i.upper())

A
B
C
D

In [ ]:
i = 1
while False:
     if i%2 == 0:
        break
     print(i)
     i += 2

In [ ]:
import numpy as np

dt = np.dtype([('age',np.int8)])

a = np.array([(10,),(20,),(30,)], dtype = dt)

print (a['age'])

[10 20 30]

In [ ]:
i = 1
while True:
    if i%0O7 == 0:
       break
   print(i)
   i += 1

IndentationError: ignored

In [ ]:
x = "abcdef"
i = "a"
while i in x:
     x = x[:-1]
     print(i, end = " ")

a a a a a a

In [ ]:
print(int(6 == 6.0) * 3 + 4 % 5)

7

In [ ]:
l1=[1, 2, 3, [4]]
l2=list(l1)
id(l1)==id(l2)

False

In [ ]:
round(45.8)

46

In [ ]:
round(7463.123,2,1)

TypeError: ignored

In [ ]:
x = 'abcd'
for i in range(len(x)):
     print(i)

0
1
2
3

In [ ]:
print (r"\nhello")

\nhello

In [ ]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(4))
print( s.ndim)

1

In [ ]:
import numpy as np 
a = np.array([1,2,3]) 
print (a)

[1 2 3]

In [ ]:
for i in ''":
   print (i)

SyntaxError: ignored

In [ ]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]

print(names2[2][0])

c

In [ ]:
import numpy as np
a = np.array([1, 2, 3,4,5], ndmin = 2)
print (a)

[[1 2 3 4 5]]

In [ ]:
l=[[1, 2, 3], [4, 5, 6]]
for i in range(len(l)):
     for j in range(len(l[i])):
          l[i][j]+=10
l

[[11, 12, 13], [14, 15, 16]]

In [ ]:
import pandas as pd 
import numpy as np 
s = pd.Series(np.random.randn(2)) 
print (s.size)

2

In [ ]:
x = 50
def func():
     global x
     print('x is', x)
     x = 2
     print('Changed global x to', x)
func()
print('Value of x is', x)

x is 50
Changed global x to 2
Value of x is 2

In [ ]:
def change(i = 1, j = 2):
      i = i + j
      j = j + 1
      print(i, j)
change(j = 1, i = 2)

3 2

In [ ]:
import pandas as pd

s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

print (s['a'])

1